.input{
    width: fit-content;
    margin: auto;
    padding-top: 20px;
    /* border: 1px solid red; */
}

.title{
    line-height: 30px;
    letter-spacing: 2px;
    font-size: small;
    font-weight: 700;
    color: #404040;
}

.problem { 
    color : #676767;
    letter-spacing: 2px;
    height: 30px;
    border: 1px solid #404040;
    text-align: center;
 }
.problem[disabled] { color : #cfcfcf; }